**Import Necessary Libraries**

In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import pandas as pd

**Load Data**

In [2]:
df = pd.read_csv("audi.csv")

display(df.head(10))
print(df.shape)

  model  year  price transmission  mileage fuelType   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol  55.4         1.4
3    A4  2017  16800    Automatic    25952   Diesel  67.3         2.0
4    A3  2019  17300       Manual     1998   Petrol  49.6         1.0
5    A1  2016  13900    Automatic    32260   Petrol  58.9         1.4
6    A6  2016  13250    Automatic    76788   Diesel  61.4         2.0
7    A4  2016  11750       Manual    75185   Diesel  70.6         2.0
8    A3  2015  10200       Manual    46112   Petrol  60.1         1.4
9    A1  2016  12000       Manual    22451   Petrol  55.4         1.4

(10668, 8)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 8 columns):
model           10668 non-null object
year            10668 non-null int64
price           10668 non-null int64
transmission    10668 non-null object
mileage         10668 non-null int64
fuelType        10668 non-null object
mpg             10668 non-null float64
engineSize      10668 non-null float64
dtypes: float64(2), int64(3), object(3)
memory usage: 666.9+ KB

In [4]:
print(df.columns)

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'mpg',
       'engineSize'],
      dtype='object')

**Separating the Features and Target Variable**

In [5]:
features = ['mileage', 'year', 'mpg', 'engineSize']
target = ['price']


X = df[features]
y = df[target]

print(X.shape, y.shape)

(10668, 4) (10668, 1)

**Create Train and Test Set**

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(8534, 4) (2134, 4) (8534, 1) (2134, 1)

**Linear Regression**

In [7]:
model = LinearRegression()
model = model.fit(X_train, y_train)

**Prediction**

In [8]:
y_pred = model.predict(X_test)

In [9]:
print(y_pred)

[[ 9263.26473116]
 [  800.40256967]
 [31616.47626754]
 ...
 [14114.56221507]
 [32035.05602004]
 [47661.98991107]]

In [10]:
print(y_test)

      price
7439   9995
9632   6790
1131  32500
7625  23444
1060  25888
...     ...
2180  10995
6677  35991
1251  13998
265   30995
1472  48985

[2134 rows x 1 columns]

**Prediction Error**

In [11]:
RMSE = mean_squared_error(y_test, y_pred, squared=False)
print(RMSE)

5784.560460692083